{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bookstore{% endblock %}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<div class="container">
    <header>
        <ul>
            <li><a class="main" href="{% url 'home' %}">Book Store</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
{#            <li><a href="{% url 'logout' %}">Log Out</a></li>#}
            <li><a href="{% url 'account_logout' %}">Log Out</a></li>
            {% else %}
{#            <li><a href="{% url 'login' %}">Log In</a></li>#}
            <li><a href="{% url 'account_login' %}">Log In</a></li>
{#            <li><a href="{% url 'signup' %}">Sign Up</a></li>#}
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </header>

    {% block content %}
    {% endblock %}
</div>

    {% block javascript %}
        <script src="{% static 'js/base.js' %}"></script>
    {% endblock javascript %}
</body>
</html>