.container{
    margin: auto;
    padding: 0;
    width: 85%;
}

h1{
    color: red;
}

.bookcover{
    height: auto;
    width: 300px;
}


header ul{
    display: inline-flex;
    list-style: none;
    border-bottom: 1px solid black;
    width: 100%;
}

header ul li{
    margin: 12px;
    display: block;
}

#main-name{
    color: red;
    float: left;
}

header ul li a{
    text-decoration: none;
    color: black;
}

header ul li a:hover{
    color: green;
    box-shadow: #4ac1f7;
}