.container{
    margin: auto;
    padding: 0;
    width: 85%;
}

h1{
    color: red;
}

.bookcover{
    height: auto;
    width: 300px;
}


header ul{
    display: inline-flex;
    list-style: none;
    border-bottom: 1px solid black;
    width: 100%;
}

header ul li a{
    margin: 12px;
    display: block;
}


header ul li a{
    text-decoration: none;
    color: black;
}

header ul li a:hover{
    color: green;
    box-shadow: #4ac1f7;
    text-decoration: none;
    font-size: medium;
}

header ul li .main{
    color: blue;
    font-size: large;
}


.img-style{
    width: 300px;
    height: auto;
}